<div class="row">
  <%= render 'users/users_aside' %>
  <div class="col-sm-8">
    <%= render 'users/users_nav-tabs' %>
    <% if @likes.any? %>
      <%= render 'microposts/microposts', microposts: @likes %>
    <% end %>
  </div>
</div>