<div class="row">
  <%= render 'users/users_aside' %>
  <div class="col-sm-8">
    <%= render 'users/users_nav-tabs' %>
    <%= render 'microposts/microposts', microposts: @microposts %>
  </div>
</div>